[data-identifier="button-position-aware-mask"] {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  -webkit-transition: width 0.5s ease-in-out, height 0.5s ease-in-out;
  transition: width 0.5s ease-in-out, height 0.5s ease-in-out;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 2;
}

[data-identifier="button-position-aware"]:hover [data-identifier="button-position-aware-mask"] {
  width: 225%;
  height: 562.5px;
}
