[data-identifier="live-clock-container"] {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 31.25rem; /* Max width of 500px */
    width: 100%; /* Full width */
    height: 100vh; /* Full viewport height */
    padding: 1rem; /* padding to prevent overflow issues */
}

[data-identifier="live-clock"] {
    position: relative;
    width: 100%;
    aspect-ratio: 1/1; /* New aspect-ratio property */
    border-radius: 50%;
    box-sizing: border-box; /* Include border in the width and height */
}

[data-identifier="live-clock-hour"],
[data-identifier="live-clock-minute"],
[data-identifier="live-clock-second"] {
    position: absolute;
    transform-origin: 50% 100%;
}

[data-identifier="live-clock-hour"] {
    width: 2%;
    height: 30%;
    left: 49%;
    bottom: 50%;
}

[data-identifier="live-clock-minute"] {
    width: 1%;
    height: 40%;
    left: 49.5%;
    bottom: 50%;
}

[data-identifier="live-clock-second"] {
    width: 0.5%;
    height: 45%;
    left: 49.75%;
    bottom: 50%;
}

[data-identifier="live-clock-center"] {
    position: absolute;
    border-radius: 50%;
    width: 4%;
    height: 4%;
    left: 48%;
    bottom: 48%;
}
