[data-identifier="before-and-after"] {
  position: relative;
  overflow: hidden;
}

[data-identifier="before-side"], [data-identifier="after-side"] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

[data-comparison-orientation="horizontal"] [data-identifier="comparison-handle"] {
  position: absolute;
  top: 0;
  left: 50%;
  height: 100%;
  cursor: ew-resize;
  z-index: 2;
}

[data-comparison-orientation="vertical"] [data-identifier="comparison-handle"] {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  cursor: ns-resize;
  z-index: 2;
}
